@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: "Inter", sans-serif;
  color: #e9593d;
}
.logo-box {
  display: flex;
  margin-left: 2rem;
}
.logo {
  height: 3rem;
  width: 5rem;
}
.logo-text {
  color: #e9593d;
  font-size: 2.5rem;
}
.nav-wrapper {
  background-color: #1d1e1c;
  height: 100px;
  position: fixed;
  width: 100%;
}
.handBurger{
  display: none;
}
.main-text{
  background: url(./images/graham-holtshausen-fUnfEz3VLv4-unsplash.webp);
  height: 400px;
}
.nav-box {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}
.nav-list {
  display: flex;
  margin-right: 0.2rem;
}
.nav-list a {
  color: #eeeef0;
  border: 0px solid #eeeef0;
  border-radius: 3px;
  text-align: center;
  padding: 13px 15px;
  text-transform: uppercase;
  margin-right: 1rem;
  font-size: 0.9rem;
}

.nav-list a:hover {
  border: 2px solid #eeeef0;
}
.nav-text {
  color: #ffffff;
  padding-top: 7rem;
  padding-left: 20rem;
  padding-right: 37rem;
  position: relative;
  animation-name: nav;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  
}
@keyframes nav {
 0%{

    padding-top: 12rem;
    opacity: 1%;
  }
  
}
.nav-text h2 {
  font-size: 1.8rem;
  padding-top: 4rem;
}
.nav-text p {
  padding-top: 2rem;
  font-size: 0.7rem;
}

/* Why Choose Us Stye start from here................ */
.why-wrapper {
  background: url(./images/blue-bokeh-effect-black-background-sparkling-magical-particles_370567-89.jpg);
  background-size: cover;
  padding-bottom: 3rem;
  
}
.why-box {
  display: flex;
  padding-top: 3rem;
}
.why-text {
  padding-top: 3rem;
  padding-left: 20rem;

  margin-right: 3rem;
}
.why-choose-us {
  color: #46c2e7;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}
.we-are-small {
  color: #eeeef0;
  padding-bottom: 5rem;
  font-size: 1.1rem;
  text-align: left;
  margin-right: 1rem;
}
.why-text a{
  color: #278ddf;
  border: 3px solid #278ddf;
  padding: 10px 15px;
  text-transform: uppercase;
}
.why-text a:hover {
  background-color: #278ddf;
  color: #ffffff;
}
.why-image {
  display: block;
  background-image: url(./images/computer-web.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 150rem;
  background-color: #e9593d;
  margin-top: 4rem;
  margin-right: 11rem;
  margin-bottom: 4rem;
}

/* What we do style start from here.......................... */

.what-box {
  background: url(./images/blackboard-background-fade-half-1500.jpg) no-repeat #060606 ;
  background-size: cover;
  height: 1100px;
  padding-top: 3rem;
}
.what .what-we-do {
  padding-bottom: 2rem;
  color: #46c2e7;
  font-size: 1.5rem;
  animation: nav 3s 1;

}
.what p {
  color: #eeeef0;
  padding-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 1.5;
  padding-right: 15rem;
  padding-left: 20rem;
}
.icons-wrapper {
  display: flex;
  justify-content: center;
}
.mark-camera {
  margin-right: 20rem;
}
.icon1 {
  margin-left: 8rem;
  font-size: 3rem;
  color: #46c2e7;
  margin-bottom: 1rem;
}
.icon2 {
  margin-left: 7rem;
  font-size: 3rem;
  color: #46c2e7;
  margin-bottom: 1.5rem;
}
.icon3 {
  margin-left: 9rem;
  font-size: 3rem;
  color: #46c2e7;
  margin-bottom: 1.5rem;
}
.icon4 {
  margin-left: 6rem;
  font-size: 3rem;
  color: #46c2e7;
  margin-bottom: 1.5rem;
}

.mark-box {
  padding-left: 4rem;
  margin-bottom: 5rem;
}
.camera-box {
  padding-left: 4rem;
  margin-bottom: 5rem;
}
.comp-box {
  padding-left: 2rem;
  margin-bottom: 5rem;
}
.doc-box {
  padding-left: 5rem;
  margin-bottom: 5rem;
}

.icons-wrapper p {
  color: #eeeef0;
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
  margin-left: 3rem;
  margin-bottom: 5rem;
  letter-spacing: 5px;
}
.take-look {
  margin-top: 5rem;
  text-align: center;
  margin-bottom: 7rem;
}
.take-look .h2 {
  color: #46c2e7;
  font-size: 1.6rem;
}
.take-look .button {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.take-look a {
  color: #278ddf;
  border: 3px solid #278ddf;
  padding: 10px 15px;
  text-transform: uppercase;
  margin-left: 4rem;
  margin-right: 5rem;
}
.take-look a:hover{
    background-color: #278ddf;
  color: #ffffff;
}

/* Our Client style start from here............... */
.client-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.our-client {
  color: #3f4444;
  font-size: 1.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}
.client-text{
    color: #78787b;
    text-align: left;
    padding: 2rem 15rem ;
    padding-left: 20rem;
    line-height: 1.7;
    animation: nav 3s 1;
}
.sponsors{
    padding-left: 25rem;
    padding-right: 30rem;
}
.sponsors img{
    margin-left: 5rem;
    margin-right: 5rem;
    width: 150px;
    height: 50px;
}

/* Location style start from here........... */
.location-wrapper{
   
    padding-top: 3rem;
    background-color: #04324f;
}
.location{
    color: #46c2e7;
    font-size: 1.7rem;
    padding-left: 20rem;
}
.map-text{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding-left: 20rem;
    animation: nav 3s 1;
}

.map{
    color: #ffffff;
    font-size: 12rem;
}
.map-text .text{
    color: #eeeef0;
    padding-left: 5rem;
    padding-right: 20rem;
    padding-top: 4rem;
    text-align: left;
    line-height: 1.7;
}
.verse{
    text-align: center;
    color: #eeeef0;
    margin-top: 8rem;
}
.copyright{
    text-align: center;
    color: #eeeef0;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
footer{
    height: 100px;
    background-color: #000000;
    color: #46c2e7;
    text-align: center;
    padding-top: 3rem;
    font-size: 1.2rem;
}
footer span{
  color: #ffffff;
}

/* ECourses Page Style */
.paggee{
  background-color:#eeeef0;
  padding-bottom: 2rem;
}
.testing{
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 4rem;
  color: #000000;
  font-size: 1.5rem;
  text-transform: uppercase;


}
.course-wrapper{
  display: flex;
  padding-left: 20rem;
}
hr{
  display: block;
  margin-left: 20rem;
  width: 60rem;
  height: 1px;
  background-color:#78787b;
  border: none;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.course-text{
  margin-left: 2rem;
  margin-right: 15rem;
}
.course-text h2{
  color: #3f4444;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-right: 3rem;
}
.course-text p{
  margin-bottom: 1rem;
  color:#78787b;
  line-height: 1.5;
  margin-bottom: 5rem;
  
}
.course-text a{
  color: #278ddf;
  border: 3px solid #278ddf;
  padding: 10px 15px;
  text-transform: uppercase;
}
.course-text a:hover{
  background-color: #278ddf;
  color: #ffffff;
}

/* About Page Styles Start from here */

.about-wrapper{
  background-color:#eeeef0;
}
.about-heading{
  color:#04324f;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.bio{
  display: flex;

}
.picture{
  width: 500px;
  height: 250px;
  background-color: #46c2e7;
  margin-left: 25rem;
  margin-bottom: 4rem;
}
.bio-para{
  margin-left: 3rem;
  margin-right: 20rem;
  color: #78787b;
  line-height: 1.5;
}
.bio-para1{
  margin-bottom: 2rem;
}
.partner{
  color: #04324f;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.partner-txt{
  margin-left: 20rem;
  color: #78787b;
  line-height: 1.5;
  margin-right: 20rem;
}
.about-last{
  display: flex;
  justify-content:space-between;
  margin-right: 20rem;
  margin-left: 25rem;
}
.about-last .img{
  width: 200px;
  height: 100px;
  background: url(./images/img2.png) no-repeat;
  margin-top: 4rem;
  margin-bottom: 20rem;
}

/* Contact Page Style Start head */
.contact-wrapper{
  height: 521px;
  text-align: center;
  margin-bottom: 6.3rem;
}
.contact-wrapper p{
  padding-top: 18rem;
  padding-bottom: 2rem;
}
.contact-wrapper a {
  color: #ffffff;
  background-color: #78787b;
  padding: 10px 15px;
  text-transform: uppercase;
  margin-left: 4rem;
  margin-right: 5rem;
}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ------------------------------------------------------------------------------------------------------------------------------ */
/* Dual Screen View Style...... */
@media (max-width: 320px){

  .nav-wrapper {
    background-color: #1d1e1c;
    height: 80px;
    position: fixed;
    max-width: 320px;
  }
  .handBurger{
    display: inline-block;
    color: #ffffff;
    font-size: 1.9rem;
    padding-left: 5rem;
  }
  .main-text{
    max-width: 320px;
  }
  .logo-box {
    margin-left: 2rem;
  }
  .logo {
    display: none;
    height: 2rem;
    width: 3rem;
  }
  .logo-text {
    color: #e9593d;
    font-size: 1.5rem;
    padding-top: 0.2rem;
  }
  .nav-list {
    display: none;
  }
  .nav-text {
    color: #ffffff;
    padding-top: 7rem;
    padding-left: 2rem;
    padding-right: 6rem;
   animation: none;
    
  }
  .nav-text h2 {
    font-size: 1.5rem;
    padding-top: 4rem;
  }
  .nav-text p {
    padding-top: 2rem;
    font-size: 0.5rem;
  }
/* Dual Screen Why Choose Us Stye start from here................ */
.why-wrapper {
  background-size: contain;
  max-width: 320px;
}
.why-box {
  display: flex;
  flex-direction: column;
}
.why-text {
  padding-top: 0.2rem;
  padding-left: 2rem;
}
.why-choose-us {
  color: #46c2e7;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.we-are-small {
  color: #eeeef0;
  padding-bottom: 4rem;
  padding-right: 2rem;
  font-size: 0.7rem;
}
.why-text a{
  padding: 7px 7px;
}
.why-image {
  display: block;
  background-image: url(./images/computer-web.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 160px;
  max-width: 220px;
  background-color: #e9593d;
  margin-top: 4rem;
  margin-left: 1.2rem;
  margin-bottom: 2rem;
}

/* Dual Screen What we do style start from here.......................... */

.what-box {
  background-size: contain;
  max-width: 320px;
  height: 1600px;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 0rem;

}
.what .what-we-do {
  padding-bottom: 2rem;
  color: #46c2e7;
  font-size: 1.3rem;
}
.what p {
  font-size: 0.8rem;
  line-height: 1.7;
  padding-right: 4rem;
  text-align: left;
}
.icons-wrapper {
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
  text-align: center;
}
.mark-camera {
  margin-right: 0rem;
}
.icon1 {
  margin-left: 6rem;
  font-size: 1rem;
  color: #46c2e7;
  margin-bottom: 1rem;
  display: block;
}
.icon2 {
  display: block;
  margin-left: 6rem;
  font-size: 1rem;
  color: #46c2e7;
  margin-bottom: 1.5rem;
}
.icon3 {
  display: block;
  margin-left: 6rem;
  font-size: 1rem;
  color: #46c2e7;
  margin-bottom: 1.5rem;
}
.icon4 {
  display: block;
  margin-left: 6rem;
  font-size: 1rem;
  color: #46c2e7;
  margin-bottom: 1.5rem;
  padding-right: 0rem;
}

.mark-box {
  padding-left: 0rem;
  margin-bottom: 5rem;
}
.camera-box {
  padding-left: 0rem;
  margin-bottom: 5rem;
}
.comp-box {
  padding-left: 0rem;
  margin-bottom: 5rem;
}
.doc-box {
  padding-left: 0rem;
  margin-bottom: 5rem;
}

.icons-wrapper p {
  color: #eeeef0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 0rem;
  margin-bottom: 5rem;
  padding-right: 5rem;
}
.take-look {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 7rem;
}
.take-look .h2 {
  font-size: 1.3rem;
  padding-right: 5rem;
}
.take-look .button {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 2rem;
}
.ecourse{
  margin-top: 5rem;
}
.video{
  margin-top: 3rem;
}
.take-look a {
  color: #278ddf;
  border: 3px solid #278ddf;
  padding: 5px 10px;
  text-transform: uppercase;
  margin-left: 0rem;
  margin-right: 5rem;
}

/* Dual Screen Our Client style start from here............... */
.client-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  max-width: 320px;
}
.our-client {
  color: #3f4444;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding-right: 3rem;
}
.client-text{
    color: #78787b;
    text-align: left;
    padding: 2rem 5rem ;
    padding-left: 2rem;
    line-height: 1.7;
    font-size: 0.8rem;
}
.sponsors{
    padding-left: 0rem;
}
.sponsors img{
    margin-left: 5rem;
    width: 100px;
    height: 50px;
    margin-top: 1rem;
}

/* Dual Screen Location style start from here........... */
.location-wrapper{
    padding-top: 3rem;
    background-color: #04324f;
    max-width: 320px;
}
.location{
    color: #46c2e7;
    font-size: 1.7rem;
    padding-left: 2rem;
}
.map-text{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 0rem;
}

.map{
    color: #ffffff;
    font-size: 6rem;
    display: block;
    margin-left: 5rem;
}
.map-text .text{
    color: #eeeef0;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-left: 2rem;
    text-align: left;
    line-height: 1.7;
    font-size: 0.7rem;
}
.verse{
  display: inline-block;
  margin-left: 5rem;
}
.copyright{
  display: inline-block;
    text-align: center;
    color: #eeeef0;
    margin-top: 0.5rem;
    padding-bottom: 2rem;
    margin-left: 4.5rem;
}
footer{
    height: 100px;
    background-color: #000000;
    color: #46c2e7;
    text-align: center;
    padding-top: 3rem;
    font-size: 1rem;
    max-width: 320px;
}
footer span{
  color: #ffffff;
}


}


/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- Normal Screen View Style...... */

@media (min-width: 321px) and (max-width: 480px){

.logo{
  display: none;
  
}
.nav-list {
  display: none;
}
.nav-wrapper {
  position: fixed;
  max-width: 480px;
}
.handBurger{
  display: inline-block;
  color: #ffffff;
  font-size: 1.9rem;
  padding-left: 12rem;
}
.nav-text{
  padding-left: 2rem;
  padding-right: 0rem;
  padding-right: 6rem;
}
.nav-text h2{
  font-size: 1.5rem;
  line-height: 1.3;
}

/* Normal Screen Why Choose Us Stye start from here................ */
.why-wrapper {
  background-size: contain;
  max-width: 480px;
}
.why-box {
  display: flex;
  flex-direction: column;
}
.why-text {
  padding-top: 0.2rem;
  padding-left: 2rem;
}
.why-choose-us {
  color: #46c2e7;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.we-are-small {
  color: #eeeef0;
  padding-bottom: 4rem;
  font-size: 0.8rem;
  line-height: 1.5;
}
.why-text a{
  padding: 10px 15px;
}
.why-image {
  display: block;
  background-image: url(./images/computer-web.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  max-width: 440px;
  background-color: #e9593d;
  margin-top: 4rem;
  margin-left: 1.2rem;
  margin-bottom: 2rem;
}
/* Normal Screen What we do style start from here.......................... */

.what-box {
  background-size: contain;
  max-width: 480px;
  height: 1600px;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 0rem;

}
.what .what-we-do {
  padding-bottom: 2rem;
  color: #46c2e7;
  font-size: 1.3rem;
}
.what p {
  font-size: 0.8rem;
  line-height: 1.7;
  padding-right: 4rem;
  text-align: left;
}
.icons-wrapper {
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
  text-align: center;
}
.mark-camera {
  margin-right: 0rem;
}
.icon1 {
  margin-left: 10rem;
  font-size: 2rem;
  display: block;
}
.icon2 {
  display: block;
  margin-left: 10rem;
  font-size: 2rem;
}
.icon3 {
  display: block;
  margin-left: 10rem;
  font-size: 2rem;
}
.icon4 {
  display: block;
  margin-left: 10rem;
  font-size: 2rem;
}

.mark-box {
  padding-left: 0rem;
  margin-bottom: 5rem;
}
.camera-box {
  padding-left: 0rem;
  margin-bottom: 5rem;
}
.comp-box {
  padding-left: 0rem;
  margin-bottom: 5rem;
}
.doc-box {
  padding-left: 0rem;
  margin-bottom: 5rem;
}

.icons-wrapper p {
  
  margin-left: 0rem;
  
  padding-right: 7rem;
}
.take-look {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 7rem;
}
.take-look .h2 {
  font-size: 1.7rem;
  padding-right: 4rem;
}
.take-look .button {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 2rem;
}
.ecourse{
  margin-top: 5rem;
}
.video{
  margin-top: 3rem;
}
.take-look a {
  color: #278ddf;
  border: 3px solid #278ddf;
  padding: 5px 10px;
  text-transform: uppercase;
  margin-left: 0rem;
  margin-right: 5rem;
}
 
}